# What is Pandas?

pandas is a powerful library for data manipulation and analysis in Python. It provides data structures for efficiently storing large datasets and tools for working with them in a variety of ways. Some of the main features of pandas that are useful for EDA include:

* Reading and writing data: pandas provides functions for reading and writing data from a variety of formats, including CSV, Excel, and SQL databases.
* Handling missing values: pandas provides functions for identifying and handling missing values in a dataset.
* Data cleaning: pandas provides functions for cleaning and formatting data, such as converting data types and removing duplicates.
* Data visualization: pandas integrates with the Matplotlib library for data visualization, allowing you to create a variety of plots and charts to visualize your data.
* Data aggregation and grouping: pandas provides functions for performing aggregation and grouping operations on your data, such as calculating the mean or sum of a group of values.

In [2]:
import pandas as pd

# Load the Dataset
We will start by importing the necessary libraries and loading the dataset into a pandas DataFrame. We will use the read_csv function to read the data from a CSV file into a DataFrame.

In [3]:
# Load the dataset into a DataFrame
df = pd.read_csv("https://raw.githubusercontent.com/cbtn-data-science-ml/python-for-data-analysis/main/datasets/mls_salaries.csv")

# The Pandas DataFrame

In [9]:
df

    club last_name first_name position  base_salary  guaranteed_compensation
0    ATL   Almiron     Miguel        M    1912500.0               2297000.00
1    ATL   Ambrose      Mikey        D      65625.0                 65625.00
2    ATL      Asad      Yamil        M     150000.0                150000.00
3    ATL     Bloom       Mark        D      99225.0                106573.89
4    ATL  Carleton     Andrew        F      65000.0                 77400.00
..   ...       ...        ...      ...          ...                      ...
610  VAN   Teibert    Russell        M     126500.0                194000.00
611  VAN  Tornaghi      Paolo       GK      80000.0                 80000.00
612  VAN    Waston    Kendall        D     350000.0                368125.00
613  NaN       NaN        NaN      NaN          NaN                      NaN
614  VAN  Williams    Sheanon        D     175000.0                184000.00

[615 rows x 6 columns]

# The Pandas Series

In [8]:
df['club']

0      ATL
1      ATL
2      ATL
3      ATL
4      ATL
      ...
610    VAN
611    VAN
612    VAN
613    NaN
614    VAN
Name: club, Length: 615, dtype: object