In [ ]:
# vector using lists
my_nums = [1,2,3,4,5]
my_nums

[1, 2, 3, 4, 5]

In [ ]:
# calling strings in a list
my_char_vector = ["a", "b", "c", "d", "e"]
my_char_vector

['a', 'b', 'c', 'd', 'e']

In [ ]:
# Categorical data type in Python is equivalent to Factors in R
import pandas as pd
factor = pd.Categorical(["apple", "banana", "banana", "apple", "banana"])
factor

['apple', 'banana', 'banana', 'apple', 'banana']
Categories (2, object): ['apple', 'banana']

In [ ]:
# list with multiple data types
my_list = [1, 2, 3, "blue"]
my_list

[1, 2, 3, 'blue']

In [ ]:
# list with same data type
my_list = [1, 2, 3,4]
my_list

[1, 2, 3, 4]

In [ ]:
# DataFrame - remember Pyton is 0-based index language
import pandas as pd
df = pd.DataFrame({'x' : [1,2,3], 'y' :  ["a", "b", "c"]})
df

   x  y
0  1  a
1  2  b
2  3  c

In [ ]:
# load dataset
import seaborn as sns
data = sns.load_dataset('mpg')
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10