## For loops

`For` loops iterate over a given sequence, for example:

In [3]:
# write a for loop that prints out the numbers 0 to n
#for n in range(5):
#    print(n)

# write a for loop that out 3,4,5 (3 to 6, not including 6)
#for n in range(3,6):
#    print(n)

# write a for loop that out 3,5,7 (from 3 to 8, not including 8, in steps of 2)
for n in range(3,8,2):
    print(n)

3
5
7

The last range function accepted three arguments, so we can move in steps. `From 3 to 8, not including 8 in steps of 2`.

> Note: that the range function is zero-based.

You can also iterate through a list of names. For example:

In [4]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]

# for every name in list_name, print name
for name in list_name:
    print(name)

Constance
Octavia
Hannah

In [5]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]

# for every name in list_name
for name in list_name:
  # check if name equals "Hannah"
  if name == "Hannah":
    # if so, break the loop
    break
  # print name (outside of the if statement scope) 
  print(name)

Constance
Octavia

In [6]:
# assign a list with "Constance", "Octavia", "Hannah" to a variable named: list_name
list_name = ["Constance", "Octavia", "Hannah"]
# for every name in list_name
for name in list_name:
  # check if name equals "Hannah"
  if name == "Hannah": 
    # if so, continue the loop (skips Hannah)
    continue
  # print name (outside of the if statement scope) 
  print(name)

Constance
Octavia

## Data Cleaning Example
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [7]:
sales = ['$1.21', '$2.29', '$14.52', '$6.13', '$24.36', '$33.85', '$1.92']
[s.lstrip("$") for s in sales]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']

In [9]:
[sales[i].strip('$') for i in range(len(sales))]

['1.21', '2.29', '14.52', '6.13', '24.36', '33.85', '1.92']